<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Espotify</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
		<servlet-name>Usuario_Reg</servlet-name>
		<servlet-class>com.espotify.controller.Reg_UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Usuario_Reg</servlet-name>
		<url-pattern>/hacer_registro</url-pattern>
	</servlet-mapping>
	
	
	  <servlet>
		<servlet-name>AndroidVal_UsuarioServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidVal_UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidVal_UsuarioServlet</servlet-name>
		<url-pattern>/validacion_android</url-pattern>
	</servlet-mapping>
	

	
	<servlet>
		<servlet-name>Usuario_modinfo</servlet-name>
		<servlet-class>com.espotify.controller.Modinfo_UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Usuario_modinfo</servlet-name>
		<url-pattern>/modinfo</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Usuario_Val</servlet-name>
		<servlet-class>com.espotify.controller.Val_UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Usuario_Val</servlet-name>
		<url-pattern>/validacion</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Usuario_modpass</servlet-name>
		<servlet-class>com.espotify.controller.Modpass_UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Usuario_modpass</servlet-name>
		<url-pattern>/modpass</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>subir_cancion</servlet-name>
		<servlet-class>com.espotify.controller.SubirCancionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>subir_cancion</servlet-name>
		<url-pattern>/subir_cancion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>subir_audio</servlet-name>
		<servlet-class>com.espotify.controller.SubirAudio_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>subir_audio</servlet-name>
		<url-pattern>/subir_audio</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>modificar_cancion</servlet-name>
		<servlet-class>com.espotify.controller.ModificarInfo_CancionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modificar_cancion</servlet-name>
		<url-pattern>/modificar_cancion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>eliminar_cancion</servlet-name>
		<servlet-class>com.espotify.controller.Eliminar_CancionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eliminar_cancion</servlet-name>
		<url-pattern>/eliminar_cancion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>crear_lr</servlet-name>
		<servlet-class>com.espotify.controller.Crear_ListaRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>crear_lr</servlet-name>
		<url-pattern>/crear_lr</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>borrar_lr</servlet-name>
		<servlet-class>com.espotify.controller.Borrar_ListaRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>borrar_lr</servlet-name>
		<url-pattern>/borrar_lr</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>mostrar_lrs</servlet-name>
		<servlet-class>com.espotify.controller.GetAll_ListaRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mostrar_lrs</servlet-name>
		<url-pattern>/mostrar_lrs</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>android_testing</servlet-name>
		<servlet-class>com.espotify.controller.AndroidTesting</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>android_testing</servlet-name>
		<url-pattern>/android_testing</url-pattern>
	</servlet-mapping>
	
	<servlet>
			<servlet-name>obtener_contenido_perfil</servlet-name>
			<servlet-class>com.espotify.controller.ObtenerCotenidoUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>obtener_contenido_perfil</servlet-name>
			<url-pattern>/obtener_contenido_perfil</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>ir_modificar</servlet-name>
	    <servlet-class>com.espotify.controller.IrModificar</servlet-class>
	</servlet>
	    <servlet-mapping>
		 	<servlet-name>ir_modificar</servlet-name>
	       	<url-pattern>/ir_modificar</url-pattern>
		</servlet-mapping>
	
	<context-param>
    <param-name>directorio_ficheroTmp</param-name>
    <param-value>tmpfiles</param-value>
  </context-param>
  
  <context-param>
    <param-name>directorio_ficheroTmp</param-name>
    <param-value>tmpfiles</param-value>
  </context-param>
</web-app>