<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Espotify</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>inicio.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
		<servlet-name>Usuario_Reg</servlet-name>
		<servlet-class>com.espotify.controller.Reg_UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Usuario_Reg</servlet-name>
		<url-pattern>/hacer_registro</url-pattern>
	</servlet-mapping>
	
	
	 <servlet>
		<servlet-name>AndroidVal_UsuarioServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidVal_UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidVal_UsuarioServlet</servlet-name>
		<url-pattern>/validacion_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidGet_ProfileServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidGet_ProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidGet_ProfileServlet</servlet-name>
		<url-pattern>/perfil_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidCancion_Test</servlet-name>
		<servlet-class>com.espotify.controller.AndroidCancion_Test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidCancion_Test</servlet-name>
		<url-pattern>/prueba_cancion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidCrear_ListaRepServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidCrear_ListaRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidCrear_ListaRepServlet</servlet-name>
		<url-pattern>/crear_lista_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidEliminar_ListaRepServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidEliminar_ListaRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidEliminar_ListaRepServlet</servlet-name>
		<url-pattern>/eliminar_lista_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidEliminar_CancionListaRepServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidEliminar_CancionListaRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidEliminar_CancionListaRepServlet</servlet-name>
		<url-pattern>/eliminar_cancionlista_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidGet_AudiosServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidGet_AudiosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidGet_AudiosServlet</servlet-name>
		<url-pattern>/obtener_audios_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidGet_RandomAudiosServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidGet_RandomAudiosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidGet_RandomAudiosServlet</servlet-name>
		<url-pattern>/obtener_randomaudios_android</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AndroidSubir_CancionServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidSubir_CancionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidSubir_CancionServlet</servlet-name>
		<url-pattern>/cancion_subir_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidModificar_ListaRepServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidModificar_ListaRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidModificar_ListaRepServlet</servlet-name>
		<url-pattern>/playlist_modificar_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidEliminar_CancionServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidEliminar_CancionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidEliminar_CancionServlet</servlet-name>
		<url-pattern>/cancion_eliminar_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidGet_GenerosServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidGet_GenerosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidGet_GenerosServlet</servlet-name>
		<url-pattern>/generos_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidGet_GenerosPodcastServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidGet_GenerosPodcastServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidGet_GenerosPodcastServlet</servlet-name>
		<url-pattern>/generos_podcast_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidGet_PodcastServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidGet_PodcastServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidGet_PodcastServlet</servlet-name>
		<url-pattern>/podcasts_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidGet_CapitulosPodcastServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidGet_CapitulosPodcastServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidGet_CapitulosPodcastServlet</servlet-name>
		<url-pattern>/capitulos_podcast_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidAnyadir_CapitulosPodcastServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidAnyadir_CapitulosPodcastServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidAnyadir_CapitulosPodcastServlet</servlet-name>
		<url-pattern>/anyadir_capitulo_android</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AndroidModificar_CapituloServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidModificar_CapituloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidModificar_CapituloServlet</servlet-name>
		<url-pattern>/modificar_capitulo_android</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AndroidEliminar_CapituloPodcastServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidEliminar_CapituloPodcastServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidEliminar_CapituloPodcastServlet</servlet-name>
		<url-pattern>/eliminar_capitulo_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidSubir_CapituloServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidSubir_CapituloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidSubir_CapituloServlet</servlet-name>
		<url-pattern>/subir_capitulo_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidGet_AllUsuariosServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidGet_AllUsuariosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidGet_AllUsuariosServlet</servlet-name>
		<url-pattern>/obtener_usuarios_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidEliminar_PodcastServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidEliminar_PodcastServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidEliminar_PodcastServlet</servlet-name>
		<url-pattern>/eliminar_podcast_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidCrear_PodcastServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidCrear_PodcastServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidCrear_PodcastServlet</servlet-name>
		<url-pattern>/crear_podcast_android</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AndroidModificar_PodcastServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidModificar_PodcastServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidModificar_PodcastServlet</servlet-name>
		<url-pattern>/modificar_podcast_android</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AndroidModificar_CancionServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidModificar_CancionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidModificar_CancionServlet</servlet-name>
		<url-pattern>/cancion_modificar_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidReg_UsuarioServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidReg_UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidReg_UsuarioServlet</servlet-name>
		<url-pattern>/registro_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidModificar_UsuarioServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidModificar_UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidModificar_UsuarioServlet</servlet-name>
		<url-pattern>/modificar_usuario_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidSubir_ImagenUsuarioServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidSubir_ImagenUsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidSubir_ImagenUsuarioServlet</servlet-name>
		<url-pattern>/imagen_usuario_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidSubir_AudioServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidSubir_AudioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidSubir_AudioServlet</servlet-name>
		<url-pattern>/subir_audio_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidGet_FavoritosServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidGet_FavoritosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidGet_FavoritosServlet</servlet-name>
		<url-pattern>/obtener_favoritos_android</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AndroidAnyadir_AudioListaServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidAnyadir_AudioListaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidAnyadir_AudioListaServlet</servlet-name>
		<url-pattern>/anyadir_audio_lista_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidAnyadir_FavoritosServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidAnyadir_FavoritosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidAnyadir_FavoritosServlet</servlet-name>
		<url-pattern>/anyadir_favorito_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidEliminar_FavoritosServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidEliminar_FavoritosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidEliminar_FavoritosServlet</servlet-name>
		<url-pattern>/eliminar_favorito_android</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>AndroidGet_TransmisionesServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidGet_TransmisionesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidGet_TransmisionesServlet</servlet-name>
		<url-pattern>/transmisiones_servlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidFollow_BoolServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidFollow_BoolServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidFollow_BoolServlet</servlet-name>
		<url-pattern>/siguiendo_usuario_servlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidAnyadir_ComentarioServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidAnyadir_ComentarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidAnyadir_ComentarioServlet</servlet-name>
		<url-pattern>/anyadir_comentario_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidEliminar_ComentarioServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidEliminar_ComentarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidEliminar_ComentarioServlet</servlet-name>
		<url-pattern>/eliminar_comentario_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidGet_ComentariosServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidGet_ComentariosServlet</servlet-class>
	</servlet>									
	<servlet-mapping>
		<servlet-name>AndroidGet_ComentariosServlet</servlet-name>
		<url-pattern>/obtener_comentarios_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidLike_BoolServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidLike_BoolServlet</servlet-class>
	</servlet>									
	<servlet-mapping>
		<servlet-name>AndroidLike_BoolServlet</servlet-name>
		<url-pattern>/tiene_like_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidLike_Servlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidLike_Servlet</servlet-class>
	</servlet>									
	<servlet-mapping>
		<servlet-name>AndroidLike_Servlet</servlet-name>
		<url-pattern>/like_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidFollow_UsuarioServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidFollow_UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidFollow_UsuarioServlet</servlet-name>
		<url-pattern>/follow_usuario_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidGet_OtrosProfileServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidGet_OtrosProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidGet_OtrosProfileServlet</servlet-name>
		<url-pattern>/otros_perfil_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidGet_AudiosGeneroServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidGet_AudiosGeneroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidGet_AudiosGeneroServlet</servlet-name>
		<url-pattern>/audios_genero_android</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidUnfollow_UsuarioServlet</servlet-name>
		<servlet-class>com.espotify.controller.AndroidUnfollow_UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidUnfollow_UsuarioServlet</servlet-name>
		<url-pattern>/unfollow_usuario_android</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Usuario_modinfo</servlet-name>
		<servlet-class>com.espotify.controller.Modinfo_UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Usuario_modinfo</servlet-name>
		<url-pattern>/modinfo</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>Imagen_Servlet</servlet-name>
		<servlet-class>com.espotify.controller.Imagen_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Imagen_Servlet</servlet-name>
		<url-pattern>/cargar_imagen</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Usuario_Val</servlet-name>
		<servlet-class>com.espotify.controller.Val_UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Usuario_Val</servlet-name>
		<url-pattern>/validacion</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Usuario_modpass</servlet-name>
		<servlet-class>com.espotify.controller.Modpass_UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Usuario_modpass</servlet-name>
		<url-pattern>/modpass</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>subir_cancion</servlet-name>
		<servlet-class>com.espotify.controller.SubirCancionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>subir_cancion</servlet-name>
		<url-pattern>/subir_cancion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>subir_capitulo</servlet-name>
		<servlet-class>com.espotify.controller.SubirCapituloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>subir_capitulo</servlet-name>
		<url-pattern>/subir_capitulo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>subir_audio_cancion</servlet-name>
		<servlet-class>com.espotify.controller.SubirAudioCancion_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>subir_audio_cancion</servlet-name>
		<url-pattern>/subir_audio_cancion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>subir_audio_capitulo</servlet-name>
		<servlet-class>com.espotify.controller.SubirAudioCapitulo_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>subir_audio_capitulo</servlet-name>
		<url-pattern>/subir_audio_capitulo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>modificar_cancion</servlet-name>
		<servlet-class>com.espotify.controller.ModificarInfo_CancionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modificar_cancion</servlet-name>
		<url-pattern>/modificar_cancion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>modificar_capitulo</servlet-name>
		<servlet-class>com.espotify.controller.ModificarInfo_CapituloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modificar_capitulo</servlet-name>
		<url-pattern>/modificar_capitulo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>eliminar_cancion</servlet-name>
		<servlet-class>com.espotify.controller.Eliminar_CancionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eliminar_cancion</servlet-name>
		<url-pattern>/eliminar_cancion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>eliminar_capitulo</servlet-name>
		<servlet-class>com.espotify.controller.Eliminar_CapituloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eliminar_capitulo</servlet-name>
		<url-pattern>/eliminar_capitulo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>crear_lr</servlet-name>
		<servlet-class>com.espotify.controller.Crear_ListaRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>crear_lr</servlet-name>
		<url-pattern>/crear_lr</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>borrar_lr</servlet-name>
		<servlet-class>com.espotify.controller.Borrar_ListaRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>borrar_lr</servlet-name>
		<url-pattern>/borrar_lr</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>mostrar_lrs</servlet-name>
		<servlet-class>com.espotify.controller.GetAll_ListaRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mostrar_lrs</servlet-name>
		<url-pattern>/mostrar_lrs</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>mostrar_podcasts</servlet-name>
		<servlet-class>com.espotify.controller.GetAll_PodcastServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mostrar_podcasts</servlet-name>
		<url-pattern>/mostrar_podcasts</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>mostrar_transmisiones</servlet-name>
		<servlet-class>com.espotify.controller.GetAll_TransmisionesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mostrar_transmisiones</servlet-name>
		<url-pattern>/mostrar_transmisiones</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
			<servlet-name>obtener_contenido_perfil</servlet-name>
			<servlet-class>com.espotify.controller.ObtenerCotenidoUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>obtener_contenido_perfil</servlet-name>
			<url-pattern>/obtener_contenido_perfil</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>ir_modificar</servlet-name>
	    <servlet-class>com.espotify.controller.IrModificar</servlet-class>
	</servlet>
	    <servlet-mapping>
		 	<servlet-name>ir_modificar</servlet-name>
	       	<url-pattern>/ir_modificar</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>modImagenUsuario</servlet-name>
	    <servlet-class>com.espotify.controller.SubirImagenUsuario_Servlet</servlet-class>
	</servlet>
	    <servlet-mapping>
		 	<servlet-name>modImagenUsuario</servlet-name>
	       	<url-pattern>/modImagenUsuario</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>modImagenLista</servlet-name>
	    <servlet-class>com.espotify.controller.SubirImagenListRep_Servlet</servlet-class>
	</servlet>
	    <servlet-mapping>
		 	<servlet-name>modImagenLista</servlet-name>
	       	<url-pattern>/modImagenLista</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>modImagenPodcast</servlet-name>
	    <servlet-class>com.espotify.controller.SubirImagenPodcast_Servlet</servlet-class>
	</servlet>
	    <servlet-mapping>
		 	<servlet-name>modImagenPodcast</servlet-name>
	       	<url-pattern>/modImagenPodcast</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>iniciar_transmision</servlet-name>
	    <servlet-class>com.espotify.controller.IniciarTransimision_Servlet</servlet-class>
	</servlet>
	    <servlet-mapping>
		 	<servlet-name>iniciar_transmision</servlet-name>
	       	<url-pattern>/iniciar_transmision</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>modificar_transmision</servlet-name>
	    <servlet-class>com.espotify.controller.ModInfoTransmision_Servlet</servlet-class>
	</servlet>
	    <servlet-mapping>
		 	<servlet-name>modificar_transmision</servlet-name>
	       	<url-pattern>/modificar_transmision</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>finalizar_transmision</servlet-name>
	    <servlet-class>com.espotify.controller.FinalizarTransmision_Servlet</servlet-class>
	</servlet>
	    <servlet-mapping>
		 	<servlet-name>finalizar_transmision</servlet-name>
	       	<url-pattern>/finalizar_transmision</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>ver_transmision</servlet-name>
	    <servlet-class>com.espotify.controller.VerTransmision_Servlet</servlet-class>
	</servlet>
	    <servlet-mapping>
		 	<servlet-name>ver_transmision</servlet-name>
	       	<url-pattern>/ver_transmision</url-pattern>
	</servlet-mapping>
		
		<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.espotify.controller.Cerrar_SesionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Usuario_modpass</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>anyadir_coment_cancion</servlet-name>
		<servlet-class>com.espotify.controller.Anyadir_ComentarioAudioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>anyadir_coment_cancion</servlet-name>
		<url-pattern>/anyadir_coment_cancion</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>borrar_coment_cancion</servlet-name>
		<servlet-class>com.espotify.controller.Eliminar_ComentarioAudioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>borrar_coment_cancion</servlet-name>
		<url-pattern>/borrar_coment_cancion</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>getall_coment_cancion</servlet-name>
		<servlet-class>com.espotify.controller.GetAll_ComentCanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getall_coment_cancion</servlet-name>
		<url-pattern>/getall_coment_cancion</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>anyadir_cancion_lr</servlet-name>
		<servlet-class>com.espotify.controller.AnyadirAudio_ListaRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>anyadir_cancion_lr</servlet-name>
		<url-pattern>/anyadir_cancion_lr</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>borrar_cancion_lr</servlet-name>
		<servlet-class>com.espotify.controller.BorrarAudio_ListaRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>borrar_cancion_lr</servlet-name>
		<url-pattern>/borrar_cancion_lr</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>obtener_info_lr</servlet-name>
		<servlet-class>com.espotify.controller.GetInfo_ListaRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>obtener_info_lr</servlet-name>
		<url-pattern>/obtener_info_lr</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>obtener_info_podcast</servlet-name>
		<servlet-class>com.espotify.controller.GetInfo_PodcastServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>obtener_info_podcast</servlet-name>
		<url-pattern>/obtener_info_podcast</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>anyadir_cancion_fav</servlet-name>
		<servlet-class>com.espotify.controller.AnyadirAudio_FavoritosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>anyadir_cancion_fav</servlet-name>
		<url-pattern>/anyadir_cancion_fav</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>borrar_cancion_fav</servlet-name>
		<servlet-class>com.espotify.controller.BorrarAudio_FavoritosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>borrar_cancion_fav</servlet-name>
		<url-pattern>/borrar_cancion_fav</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>obtener_info_fav</servlet-name>
		<servlet-class>com.espotify.controller.GetInfo_FavoritosServlet</servlet-class>
	</servlet>								   
	<servlet-mapping>
		<servlet-name>obtener_info_fav</servlet-name>
		<url-pattern>/obtener_info_fav</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>modlr</servlet-name>
		<servlet-class>com.espotify.controller.ModInfo_ListaRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modlr</servlet-name>
		<url-pattern>/modlr</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>Inicio</servlet-name>
		<servlet-class>com.espotify.controller.GetInfo_IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inicio</servlet-name>
		<url-pattern>/Inicio</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>Buscar</servlet-name>
		<servlet-class>com.espotify.controller.Search_BusquedasServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Buscar</servlet-name>
		<url-pattern>/Buscar</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>VerMas</servlet-name>
		<servlet-class>com.espotify.controller.Search_EspecificoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerMas</servlet-name>
		<url-pattern>/VerMas</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>obtener_usuario</servlet-name>
		<servlet-class>com.espotify.controller.ObtenerContenidoOtroUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>obtener_usuario</servlet-name>
		<url-pattern>/obtener_usuario</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>obtener_info_lr_usuario</servlet-name>
		<servlet-class>com.espotify.controller.GetInfo_ListaRep_Usuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>obtener_info_lr_usuario</servlet-name>
		<url-pattern>/obtener_info_lr_usuario</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>obtener_info_podcast_usuario</servlet-name>
		<servlet-class>com.espotify.controller.GetInfo_Podcast_Usuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>obtener_info_podcast_usuario</servlet-name>
		<url-pattern>/obtener_info_podcast_usuario</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>estaciones_libres</servlet-name>
		<servlet-class>com.espotify.controller.getURLestacionesLibres_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>estaciones_libres</servlet-name>
		<url-pattern>/estaciones_libres</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>eliminar_user</servlet-name>
		<servlet-class>com.espotify.controller.eliminar_UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eliminar_user</servlet-name>
		<url-pattern>/eliminar_user</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>anyadir_genero</servlet-name>
		<servlet-class>com.espotify.controller.Anyadir_GeneroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>anyadir_genero</servlet-name>
		<url-pattern>/anyadir_genero</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>eliminar_genero</servlet-name>
		<servlet-class>com.espotify.controller.Eliminar_GeneroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eliminar_genero</servlet-name>
		<url-pattern>/eliminar_genero</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>modifNombre_genero</servlet-name>
		<servlet-class>com.espotify.controller.ModifNombre_GeneroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifNombre_genero</servlet-name>
		<url-pattern>/modifNombre_genero</url-pattern>
	</servlet-mapping>
	
	
	
	<context-param>
    <param-name>directorio_ficheroTmp</param-name>
    <param-value>tmpfiles</param-value>
  </context-param>
  
  	
  
</web-app>